<h1 align="center">&nbsp&nbsp&nbsp<b><i>About Us</i></b></h1>
<br><hr>
<img src="img/jivrus_logo1.png" alt="jivrus logo">
<br>
<hr>
<h3><b>&nbsp&nbsp&nbsp&nbsp<i>Our Culture</i></b></h3>
<br>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>We at 'Jivrus' share the below beliefs, values and practices.</i></h4>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Culture is the heart of 'Jivrus' and team is made up of it.</i></h4>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>We believe our culture unearths the 'potential', 'creativeness' & 'thinking' and  transform into 'performance', 'innovation' </i></h4>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>& 'doing'.</i></h4>
<br><br><br>
<ul>
    <li><h4><i>We solve customer problems & needs and cherish customer's success</i></h4></li>
    <li><h4><i>We are fusion of 'passion driven' and 'result matters'</i></h4></li>
    <li><h4><i>We build innovative, next generation solutions and products</i></h4></li>
    <li><h4><i>We are open, honest and trustworthy</i></h4></li>
</ul>
<br><br>
<h3><b> &nbsp&nbsp&nbsp<i>Work Environment</i></b></h3>
<br>
<ul>
    <li><h3><i>BYOD</i></h3></li>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Bring Your Own Device</i></h4>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Be comfortable with your own laptop, phone, data card, USB, etc. We trust you for the data security and personal </i></h4>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>integrity. we hired you as we trusted you.</i></h4>

    <li><h3><i>Virtual Meetings </i></h3></li>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Skype is our friend, several meetings happen virtual space. Keep a good quality head phone, and be on time for the </i></h4>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>meeting</i></h4>
</ul>
<br>
<h3><b>&nbsp&nbsp&nbsp<i>People</i></b></h3>
<br>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp<i>Our people have following traits</i></h4>
<ul>
    <li><h4><i>Passionate</i></h4></li>
    <li><h4><i>Accountable</i></h4></li>
    <li><h4><i>Go-getters and gets things done</i></h4></li>
    <li><h4><i>Learn aggressively!</i></h4></li>
    <li><h4><i>Genius</i></h4></li>
    <li><h4><i>Continuously refactor not just software</i></h4></li>
</ul>
<br>
<h3>&nbsp&nbsp&nbsp&nbsp<i><a href="http://localhost:8080/Jivrus/views/careers.html">Check out the current opportunities</a></i></h3>
<br>
<hr>
<h3><b>&nbsp&nbsp&nbsp<i>Our Story</i></b></h3>
<br>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp<i>We are busy building our story very passionately. Watch out this space...</i></h4>
<br>
<hr>
<h3><b>&nbsp&nbsp&nbsp<i>Other Information</i></b></h3>
<ul>
    <li><h4><i><a href="http://www.jivrus.com/licenses/add-on-commercial-license">Commercial License Information</a></i></h4></li>
    <li><h4><i><a href="http://www.jivrus.com/licenses/mit-license">MIT License</a></i></h4></li>
    <li><h4><i><a href="http://www.jivrus.com/poli/privacy-policy">Privacy Policy</a></i></h4></li>
</ul>
<br>
<hr>
<h3><b>&nbsp&nbsp&nbsp<i>Check out <a href="http://localhost:8080/Jivrus/views/partners.html">Our Strategic Business Partners</a></i></b></h3>
<br><br>
<h3>&nbsp&nbsp&nbsp<i>Please write to <a href="mailto:careers@jivrus.com">careers@jivrus.com</a>with the job code in the subject line.</i></h3>
<hr>
