<br>
<h1>&nbsp&nbsp&nbsp<i><b> We are hiring!</b></i></h1>
<br>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i><b>First thing first!</b> check <a href="http://localhost:8080/Jivrus/views/abouts.html" id="font">Our Culture</a> before proceeding</i></h3>
<br>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Software Developer (Code: JRS-SD) </i></h3>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Intern or Trainee Developer (Code: JRS-ID) </i></h3>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Got an excellent attitude and programming skills? Want to work on awesome products in</i></h4>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>the cloud space?</i></h4>
<br><br><br>

<h3>&nbsp&nbsp&nbsp&nbsp&nbsp<i><b> Responsibilities</b></i></h3>
<ul>
    <li><h4><i>Program well-designed, maintainable, testable and efficient code</i></h4></li>
    <li><h4><i>Perform white box and black box testing</i></h4></li>
    <li><h4><i>Troubleshoot, debug, fix and enhance existing software</i></h4></li>
    <li><h4><i>Execute full software development lifecycle</i></h4></li>
    <li><h4><i>Prepare specifications, designs and test scenarios/ cases</i></h4></li>
    <li><h4><i>Demonstrate the development and testing results to team or leader</i></h4></li>
    <li><h4><i>Maintaining and supporting products and projects</i></h4></li>
</ul>
<br><br><br>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp<i><b> Skills</b></i></h3>
<ul>
        <li><h4><i>Good analytical and problem-solving skills</i></h4></li>
        <li><h4><i>Good understanding of simple data structures and algorithms</i></h4></li>
        <li><h4><i>HTML, CSS, Bootstrap, Material Design</i></h4></li>
        <li><h4><i>Javascript, JQuery, Angular</i></h4></li>
        <li><h4><i>JSON, REST APIs</i></h4></li>
        <li><h4><i>NodeJS or Java exposure preferable</i></h4></li>
</ul>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i><b>Experience</b> - 0 to 2 years</i></h4>
<br><br><br>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp<i><b> User Experience (UX) / Graphics Designer (Code: IRS-UXD)</b></i></h3>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Do you enjoy designing/ making awesome looking Web and Mobile applications?</i></h4>
<ul>
        <li><h4><i>Give the customer best experience</i></h4></li>
        <li><h4><i>Modernization of Web and Mobile applications</i></h4></li>
        <li><h4><i>Adobe Photoshop, InVision and other GUI design and visualization tools</i></h4></li>
        <li><h4><i>HTML, CSS</i></h4></li>
        <li><h4><i>Quickness in making GUI prototypes</i></h4></li>
</ul>
<br><br><br>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp<i><b> Strategic Business Marketer (Code: JRS-BM)</b></i></h3>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Love marketing?</i></h4>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>We are looking for an amazing marketer to strengthen the marketing funnel of our company</i></h4>
<ul>
        <li><h4><i>Inbound and Outbound marketing</i></h4></li>
        <li><h4><i>Digital and Social marketing</i></h4></li>
        <li><h4><i>Product Marketing</i></h4></li>
        <li><h4><i>Lead generation and account curating</i></h4></li>
</ul>
<br>
<h1>&nbsp&nbsp&nbsp<i><a href="jobApplications.html">Apply Online Here</a></i></h1>
<hr>