<i><h1 align="center"> "Passion meets Satisfaction when </h1></i>
            <i><h1 align="center"> our solutions value add customer business </h1></i>
            <i><h1 align="center"> or solve customer problem" </h1></i>
            <hr>
            <br>
            <i><b><h2>Few of our customers</h2></b></i>
            <i id ="specific">{ No specific Order }</i>

            <br><br><br>
            <div class="row">
                <div class="col-sm-4" id="img1" >
                    <i><h3 align="center"><a href="http://www.dewick.net.au/">www.dewick.net.au</a></h3></i>
                    <i><h4 align="center">Australia</h4></i>
                </div>
                <div  class="col-sm-4" id="img2" >
                    <i><h3 align="center"><a href="https://www.testbranch.com/">www.testbranch.com</a></h3></i>
                    <i><h4 align="center">United Kingdom</h4></i>
                </div>
                <div class="col-sm-4" id="img3" >
                    <i><h3 align="center"><a href="https://cognism.com/">www.cognism.com</a></h3></i>
                    <i><h4 align="center">United Kingdom</h4></i>
                </div>
            </div>

            <br><br><br>
            <div class="row">
                <div class="col-sm-4" id="img4">
                    <i><h3 align="center"><a href="http://www.doggiejoggie.com/">www.doggiejogie.com</a></h3></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
                <div  class="col-sm-4" id="img5">
                    <i><h4 align="center"><a href="https://sayitwithasock.com/">www.sayitwithasock.com</a></h4></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
                <div class="col-sm-4" id="img6">
                    <i><h4 align="center"><a href="http://woundcaresurgeons.org/">www.woundcaresurgeons.org</a></h4></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
            </div>

            <br><br><br>
            <div class="row">
                <div class="col-sm-4" id="img7">
                    <i><h4 align="center"><a href="https://www.guildeducation.com/">www.guildeducation.com</a></h4></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
                <div  class="col-sm-4" id="img8">
                    <i><h3 align="center"><a href="https://50can.org/">50can.org</a></h3></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
                <div class="col-sm-4" id="img9">
                    <i><h4 align="center"><a href="http://www.abilairesolutions.com/">http://www.abilairesolutions.com</a></h4></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
            </div>

            <br><br><br>
            <div class="row">
                <div class="col-md-6"id="img10" >
                    <i><h3 align="center"><a href="http://www.hyde-homes.com/">www.hyde-homes.com</a></h3></i>
                    <i><h4 align="center">United States</h4></i>
                </div>
                <div class="col-md-6" id="img11">
                    <i><h3 align="center"><a href="http://www.macroscopia.com/">www.macroscopia.com</a></h3></i>
                    <i><h4 align="center">South Africa</h4></i>
                </div>
             </div>
             <div id="position">
            <h3><i>We thank all our customers for providing wonderful opportunities to innovate,</i></h3>
             <h3><i>learn and make a difference.</i></h3>    
            <h3><i>Thank you so much, and we at Jivrus continue to improve ourselves to make things better.</h3></i>
            </div>