<h2>All the geek stuff to strengthen the software solutions behind your business</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
                <li data-target="mycarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item-active">
                <img src="img/home.png" alt="Slide 1">
                <div class="carousel-caption">
                        <h2 >awesome products</h2>
                        <h3 >custom solutions</h3>
                        <h4 >friendly services</h3>
                        <br>
                        <button type="button" class="btn btn-default"><a href="http://localhost:8080/Jivrus/views/products.html">Explore Our Products</a></button>
                        <button type="button" class="btn btn-default"><a href="http://localhost:8080/Jivrus/views/services.html">Explore Our Services</a></button>
                    </div>
                    </div><!--end active-->
        </div>

        
        <div class="container text-center">
            <h2>What we are using</h2>
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/GSuite.png" id="icon">
                    <h4>GSuite</h4>
                </div>
                <div class="col-sm-4">
                     <img src="img/Google Cloud Platform.png" id="icon">
                     <h4>Google Cloud Platform</h4>
                    </div>
                <div class="col-sm-4">
                     <img src="img/AI and Automation.png" id="icon">
                     <h4>AI and Automation</h4>
                </div>
            </div>
        </div>
        <div class="container text-center">
        <div class="row">
                <div class="col-sm-4">
                    <img src="img/Chatbots Business Communication.png" id="icon">
                    <h4>Chatbots Business Communication</h4>
                </div>
                <div class="col-sm-4">
                     <img src="img/Big Data & Business Analytics with Machine Learning.jpg" id="icon">
                     <h4>Big Data & Business Analytics with Machine Learning</h4>
                    </div>
                <div class="col-sm-4">
                     <img src="img/Community Software - Share the Passion.jpg" id="icon">
                     <h4>Community Software - Share the Passion</h4>
                </div>
            </div>
        </div>