<br><br><br>
<h1>&nbsp&nbsp<i><b> Partners</b></i></h1>
<br><br>
<h1 align="center"><i> Together we conquer the world of opportunities</i></h1>
<br>
<hr>
<br>
<h2>&nbsp&nbsp&nbsp<i>Our Strategic Business Partners</i></h2>
<br>
<h4><i>Our strategic partnership is a continuous effort to fusion the complementary expertise of like-</i></h4>
<h4><i>minded companies and individuals to achieve value addition & customer delight. </i></h4>
<br>
<hr>
<h3 align="center"><i><b> We are an official Google Cloud Partner. </b></i></h3>
<br>
<div>
    <a href="https://cloud.withgoogle.com/partners/detail/?id=CIGAgICAgICVdQ%3D%3D&language=en"><img  border="0" src="img/jivrus_google_logo.png" id="imagecloud"></a>
</div>
<br>
<h4 align="center"><i>View our profile at <a href="https://cloud.withgoogle.com/partners/detail/?id=CIGAgICAgICVdQ%3D%3D&language=en">Google Cloud Partner Network</a></i></h4>
<h4 align="center"><i>This partnership brings us advantage of leveraging Google's resources, expertise into providing GSuite & Google Cloud solutions.</i></h4>
<br>
<hr>
<h3 align="center"><i><b>Novelty-Data Solutions</b></i></h3>
<br>
<div>
    <img  border="0" src="img/novelty.png" id="imagecloud">
</div>
<br>
<h4 align="center"><a href="http://www.novelty-data.com">www.novelty-data.com</a></h4>

<hr>
<h3 align="center"><i><b>R2R Technologies</b></i></h3>
<br>
<div>
    <img  border="0" src="img/r2r.png" id="imagecloud">
</div>
<br>
<h4 align="center"><a href="http://www.r2rtech.com">www.r2rtech.com</a></h4>
    
<hr>
<br>
<h4><i>We continue to strive at building relationship with strategic business partners, either business entities or individuals who </i></h4>
<h4><i>has potential and complementary skills.</i></h4>
<h4><i>We are looking forward for energetic partners who can do business marketing, lead generation, account mining etc</i></h4>
<h4><i>Check out <i><a href="http://localhost:8080/Jivrus/views/abouts.html">About</a></i> Us for who we are and what our culture is.</i></h4>
<br>
<h4><i><a href="http://localhost:8080/Jivrus/views/contacts.html">Contact Us</a> if you believe, together we can make a difference</i></h4>
<hr>