
<img src="img/products_logo.png" alt="Product image(strawberry)">
<br><br>
<i><div>
<h1 align="center"><b> GSuite / Google Cloud Platform</b></h1><br><br>

<h3>&nbsp&nbsp&nbsp&nbsp<b> Jivrus Creative Office</b></h3>
<ul class="size">
    <li><a href="https://sites.google.com/view/fillable-document/">Fillable Document</a>- an app that makes Google document as online fillable form</li>
    <li><a href="https://sites.google.com/view/database-browser">Database Browser</a>- an app that enables Google Sheet to browse your database</li>
</ul>

<h3>&nbsp&nbsp&nbsp&nbsp<b>Jivrus Integra Suite of Products</b></h3>
<ul class="size">
    <li><a href="https://sites.google.com/view/jiqb">Jivrus' Integra for QuickBooks</a>- integrates Google Sheets and QuickBooks</li>
    <li><a href="http://www.jivrus.com/google-platform/google-apps-script-platform/jivrus-integra-for-twitter">Jivrus' Integra for Twitter </a>- integrates Google Sheets and Twitter</li>
    <li><a href="http://www.jivrus.com/google-platform/google-apps-script-platform/jivrus-integra-for-facebook-insights">Jivrus' Integra for Facebook Insights </a>- integrates Google Sheets with Facebook to collect insights and metrics</li>
</ul>

    <div class="left">&nbsp&nbsp&nbsp&nbsp<b>AI & Automation</b></div>
<ul class="size">
    <li><a href="https://sites.google.com/view/angeltester/home">Angel Tester</a>- the automation product powered by artificial intelligence </li>
</ul>
</div></i>