
<br><br><br>
    <img src="img/services.png" alt="Service image">
    <br><br>
    <div class="size position">
    <i> 
    <i> <h1><b> GSuite Automation </b></h1></i>
    
     We are a leader in providing custom solutions and services to automate your business processes across GSuite
     products. <br>
     - Developing Apps, Add-ons, custom scripts usingGoogle Apps Script Programming <br>
     Integration between GSuite products (e.g. Submission of Google Form to create Google document, slide & PDF and 
     deliver those as email) <br>
     - Integration between GSuite and outside products (e.g. Submission of Google Form to create a customer in your 
     CRM software and invoice in your accounting software) <br>
     - Template and Document processing <br>
     - Google Site development for Internet and Intranet <br>
     - Event management
    <br><br><br>
     <b>Products & APIs:</b> Google Forms, Sheets, Slides, Docs, Sites, Drive, Calendar, Groups, Tasks, Map, Contacts, Gmail 
     etc <br><br>
     Want to do this? <a href="http://localhost:8080/Jivrus/views/contacts.html"> Contact Us Now</a>
    <hr>
    </i>


    <i> 
    <i><h1><b> App Development </b></h1></i>
    
     We build professional Web and Mobile applications to automate your business <br>
     - Responsive and Progressive Web applications that work the best for desktops, tablets, mobile and extra large 
     devices <br>
     - Scope, design, develop, deploy and maintain applications - the full cycle of application development services <br>
     - Jobs and Workflow automation <br>
     - System and API integrations <br>
     - Product development with payment gateway integrations.
    <br><br><br>
     <b>Platforms:</b> GSuite, Zoho, Google Cloud Platform, Heroku, Amazon and other cloud platforms. <br><br>
     Want to do this? <a href="http://localhost:8080/Jivrus/views/contacts.html"> Contact Us Now</a>
    </i>
    <hr> 

    <i><h1><b>Chatbot Development</b></h1></i>
    <i> 
     Business chatbots are the natural extension of your business for scalability and productivity. <br>
     - Virtual assistants over mobile, web and other platforms <br>
     - Case, Incident, Query, and Ticket management with chat <br>
     - Lead generation and conversion <br>
     - Product Cataloging and recommendations <br>
     - Surveys, Feedbacks, and Assessments <br>
    <br><br>
    <b>Platforms:</b> Google Assistant, Google Actions, Facebook, Slack, DialogFlow, IBM Watson etc <br><br>
     Want to do this? <a href="http://localhost:8080/Jivrus/views/contacts.html"> Contact Us Now</a>
    </i>
    <hr>

    <i><h1><b>Product Management / Development</b></h1></i>
    <i>
     Product management could be daunting, especially if you are a small or medium business. Our expertise will help you 
     manage it with ease. <br>
     - Product strategy, ideation, customer interviews and market analysis <br>
     - Defining features, requirements, context & environment <br>
     - Building roadmaps, release plans <br>
     - MVP and agile development <br>
     - Deployment strategy and implementations
    <br><br>
      Want to do this? <a href="http://localhost:8080/Jivrus/views/contacts.html"> Contact Us Now</a>
    </i>
    <hr>

    <i><h1><b>Digital Marketing & Analytics</b></h1></i>
    <i>
     -Analytics strategy and grooming measurement plan <br>
     -Audit and recommendations <br>
     -Tag management <br>
     -Goals setting & conversion tracking, eCommerce user experience tracking <br>
     -Campaigns management and tracking <br>
     -Adwords ROI tracking and optimizations <br>
     -Custom reporting and dashboards <br>
     -Platform and systems integration 
    <br><br>
    <b>Platforms:</b> Google Tag Manager, Google Analytics, Google Adwords <br> <br>
    Want to do this? <a href="http://localhost:8080/Jivrus/views/contacts.html"> Contact Us Now</a>
    </i>
    <hr>

    <i><h1><b>Business Analytics and Visualization</b></h1></i>
    <i>
     Business decision is not easy, but with decisive analytics and visualization, we make it a cakewalk <br>
     - collect business metrics/ data from various sources <br>
     - build interfaces and connectors for external systems (like CRM, Accounting, Marketing etc) using APIs <br>
     - professionally prepared dashboards and reports <br>
    <br><br>
    <b>Platforms/ Products:</b> Google Sheets, Google Analytics, Google Data Studio <br> <br>
      Want to do this? <a href="http://localhost:8080/Jivrus/views/contacts.html"> Contact Us Now</a>
    </i>
    <hr>

    <i>
    <b>Do you want to partner with us? Check out the <a href="http://localhost:8080/Jivrus/views/partners.html">partners</a> page </b>
    <hr></i>
    </div>